<div class="topnav">
  <a class="logo" href="/"> <img src="/imagens/carro.png" alt="Logo carrinho" width="40" height="34">Montadora Omaga</a>
  <a href="/create">Create</a>
  <a href="/read">Read</a>
  <a href="/update">Update</a>
  <a href="/delete">Delete</a>
</div>