<div>

    <form action="" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" required>

        <label for="senha">Senha:</label>
        <input type="senha" name="senha" required>

        <button type="submit">Entrar</button>
    </form>

</div>