<form action="/cadastroModelo", method="POST">
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>ID da montadora:</p>
    <input type="number" name="montadora_id">
    <p>Valor de Referência:</p>
    <input type="number" name="valor_referencia">
    <p>Motorização:</p>
    <input type="number" name="motorizacao">
    <p>Turbo (S/N):</p>
    <input type="text" name="turbo">
    <p>Automatico (S/N):</p>
    <input type="text" name="automatico">
    <button type="submit">Cadastrar Modelo</button>
</form>