<form action="/cadastroMontadora", method="POST">
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>Pais:</p>
    <input type="text" name="pais">
    <p>Ano de Fundação:</p>
    <input type="number" name="ano_fundacao">
    <button type="submit">Cadastrar Montadora</button>
</form>