<div class="card">
  <div class="container">
    <h4><b>Montadora</b></h4>
    <p>Criar montadora</p>
    <button type="submit" onclick="window.location.href='/createMontadora'">Criar Montadora</button>
  </div>
</div>

<div class="card">
  <div class="container">
    <h4><b>Modelo</b></h4>
    <p>Criar modelo</p>
    <button type="submit" onclick="window.location.href='/createModelo'">Criar Modelo</button>
  </div>
</div>

<div class="card">
  <div class="container">
    <h4><b>Veículo</b></h4>
    <p>Criar veículo</p>
    <button type="submit" onclick="window.location.href='/createVeiculo'">Criar Veiculo</button>
  </div>
</div>
