<div class="card">
  <div class="container">
    <h4><b>Montadora</b></h4>
    <p>Deletar montadora</p>
    <button type="submit" onclick="window.location.href='/montadoras'">Apagar Montadora</button>
  </div>
</div>

<div class="card">
  <div class="container">
    <h4><b>Modelo</b></h4>
    <p>Deletar modelo</p>
    <button type="submit" onclick="window.location.href='/modelos'">Apagar Modelo</button>
  </div>
</div>

<div class="card">
  <div class="container">
    <h4><b>Veículo</b></h4>
    <p>Deletar veículo</p>
    <button type="submit" onclick="window.location.href='/veículos'">Apagar Veículo</button>
  </div>
</div>