<form action="/editarMontadora" method="POST">
    <input type="hidden" name="id_montadora" value="{{montadora.id_montadora}}">
    <p>Nome: </p>
    <input type="text" name="nome" value="{{montadora.nome}}">
    <p>Pais:</p>
    <input type="text" name="pais" value="{{montadora.pais}}">
    <p>Ano de Fundação:</p>
    <input type="number" name="ano_fundacao" value="{{montadora.ano_fundacao}}">
    <button type="submit">Editar Montadora</button>
</form>