<div class="card">
  <div class="container">
    <h4><b>Create</b></h4>
    <p>Criar montadora, modelo ou veículo</p>
    <button type="submit">Criar</button>
  </div>
</div>

<div class="card">
  <div class="container">
    <h4><b>Read</b></h4>
    <p>Listar montadora, modelo ou veículo</p>
    <button type="submit">Listar</button>
  </div>
</div>

<div class="card">
  <div class="container">
    <h4><b>Update</b></h4>
    <p> Atualizar montadora, modelo ou veículo</p>
    <button type="submit">Atualizar</button>
  </div>
</div>

<div class="card">
  <div class="container">
    <h4><b>Delete</b></h4>
    <p>Deletar montadora, modelo ou veículo</p>
    <button type="submit">Deletar</button>
  </div>
</div>