<div class="card">
  <div class="container">
    <h4><b>Create</b></h4>
    <p>Criar montadora, modelo ou veículo</p>
    <button type="submit" onclick="window.location.href='/create'">Criar</button>
  </div>
</div>

<div class="card">
  <div class="container">
    <h4><b>Read</b></h4>
    <p>Listar montadora, modelo ou veículo</p>
    <button type="submit" onclick="window.location.href='/read'">Listar</button>
  </div>
</div>

<div class="card">
  <div class="container">
    <h4><b>Update</b></h4>
    <p> Atualizar montadora, modelo ou veículo</p>
    <button type="submit" onclick="window.location.href='/update'">Atualizar</button>
  </div>
</div>

<div class="card">
  <div class="container">
    <h4><b>Delete</b></h4>
    <p>Deletar montadora, modelo ou veículo</p>
    <button type="submit" onclick="window.location.href='/delete'">Deletar</button>
  </div>
</div>