<h2>Montadoras Cadastradas</h2>

<table>
    <tr>
        <th> Nome </th>
        <th> País </th>
        <th> Ano de Fundação </th>
    </tr>
    {{#each montadoras}}
        <tr>
            <td>{{nome}}</td>
            <td>{{pais}}</td>
            <td>{{ano_fundacao}}</td>
            <td><a href='/deletarMontadora/{{id_montadora}}'>Deletar Montadora</a></td>
        </tr>
    {{/each}}
</table>
    
