<div class="card">
  <div class="container">
    <h4><b>Montadoras</b></h4>
    <p>Atualizar montadora</p>
    <button type="submit" onclick="window.location.href='/montadoras'">Listar Montadoras</button>
  </div>
</div>

<div class="card">
  <div class="container">
    <h4><b>Modelos</b></h4>
    <p>Atualizar modelo</p>
    <button type="submit" onclick="window.location.href='/modelos'">Listar Modelos</button>
  </div>
</div>

<div class="card">
  <div class="container">
    <h4><b>Veículos</b></h4>
    <p>Atualizar veículo</p>
    <button type="submit" onclick="window.location.href='/veiculos'">Listar Veículos</button>
  </div>
</div>