<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montadora</title>
    <link rel="stylesheet" type="text/css" href= "{{bodyClass}}.css"</link>
</head>
<body>
    {{>_navbar}}
    {{>_msg}}

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>By jiotajoia</p>
    </footer>
</body>
</html>