<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montadora</title>
    <script src="style.css"></script>
</head>
<body>
      <header>
        <h1>MONTADORA OMAGA</h1>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>By jiotajoia</p>
    </footer>
</body>
</html>